config/
!config/pretty-make
*.o
*.lo
.deps
.dirstamp
autom4te.cache
.libs
aclocal.m4
config.h
config.h.in
config.status
configure
libtool
libtool.m4
libxerces-c.la
ltoptions.m4
Makefile
Makefile.in
stamp-h1
stamp-h2
Xerces_autoconf_config.hpp
/xerces-c.pc
/m4/lt~obsolete.m4
/m4/ltversion.m4
/m4/ltsugar.m4
/samples/*
!/samples/src
!/samples/data
/tests/*
!/tests/src
